<!-- slider section -->
<section data-controller="slide" class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide px-2 mx-2">
      <div class="detail-box">
        <div class="play_btn">
          <button>
            <i class="fa fa-play" aria-hidden="true"></i>
          </button>
        </div>
        <h1>
          Mico <br>
          <span>
            Hospital
          </span>
        </h1>
        <p>
          When looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
        </p>
        <a href="">
          Contact Us
        </a>
      </div>
    </div>
    <div class="swiper-slide px-2 mx-2">
      <div class="img-box">
        <%= image_tag "slider-img.jpg", alt:"", width:400 %>
      </div>
    </div>
    <div class="swiper-slide px-2 mx-2">
      <div class="detail-box">
        <div class="play_btn">
          <button>
            <i class="fa fa-play" aria-hidden="true"></i>
          </button>
        </div>
        <h1>
          Mico <br>
          <span>
            Hospital
          </span>
        </h1>
        <p>
          When looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
        </p>
        <a href="">
          Contact Us
        </a>
      </div>
    </div>
    <div class="swiper-slide px-2 mx-2">
      <div class="img-box">
        <%= image_tag "contact-img.jpg", alt:"", width:400 %>
      </div>
    </div>
    <div class="swiper-slide px-2 mx-2">
      <div class="detail-box">
        <div class="play_btn">
          <button>
            <i class="fa fa-play" aria-hidden="true"></i>
          </button>
        </div>
        <h1>
          Mico <br>
          <span>
            Hospital
          </span>
        </h1>
        <p>
          When looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
        </p>
        <a href="">
          Contact Us
        </a>
      </div>
    </div>
    <div class="swiper-slide px-2 mx-2">
      <div class="img-box">
        <%= image_tag "about-img.jpg", alt:"", width:400 %>
      </div>
    </div>
  </div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
</section>
<!-- end slider section -->


<!-- about section -->

<section class="about_section layout_padding">
  <div class="container">
    <div class="row" data-scroll-on-click-target="about">
      <div class="col-md-6 ">
        <div class="img-box">
          <%= image_tag "about-img.jpg", alt:""%>
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              About <span>Hospital</span>
            </h2>
          </div>
          <p>
            has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors
          </p>
          <a href="">
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->


<!-- contact section -->
<section class="contact_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container" data-scroll-on-click-target="contact">
      <h2>
        Envoyez un message
      </h2>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="form_container">
          <% if user_signed_in? %>
            <%= simple_form_for(current_user) do |f| %>
              <div class="row">
                <div class="col"><%= f.input :firstname, placeholder: "Prénom", value: current_user.firstname, input_html: {class:"form-control", autocomplete: "given-name"} %></div>
                <div class="col"><%= f.input :lastname, placeholder: "Nom", value: current_user.lastname, input_html: {class:"form-control", autocomplete: "family-name"} %></div>
              </div>
              <div><%= f.input :email, label: "Email", value: current_user.email, input_html: {class:"form-control", autocomplete: "email"} %></div>
              <div><%= f.input :phone_number, label: "Téléphone", value: current_user.phone_number, input_html: {class:"form-control", autocomplete: "tel-national"} %></div>
              <div><%= f.input :lastname, label: "Message", value: "Message", input_html: {class:"message-box clr", autocomplete: "tel-national"} %></div>

              <div class="btn_box">
                <div class="form-actions">
                  <%= f.button :submit, "Envoyer"%>
                </div>
              </div>
            <% end %>
          <% else %>
          <form action="">
            <div class="row">
              <div class="col">
                <input type="name" placeholder="Prénom" class="form-control" autocomplete="given-name" />
              </div>
              <div class="col">
                <input type="name" placeholder="Nom" class="form-control" autocomplete="family-name" />
              </div>
            </div>

            <div>
              <input type="email" placeholder="Email" class="form-control" autocomplete="email" />
            </div>
            <div>
              <input type="phone" placeholder="Téléphone" class="form-control" autocomplete="tel-national" />
            </div>
            <div>
              <input type="text" placeholder="Message" class="message-box clr" class="form-control" />
            </div>
            <div class="btn_box">
              <button>
                Envoyer
              </button>
            </div>
          </form>
          <% end %>
        </div>
      </div>
      <div class="col-md-5">
        <div class="img-box">
          <%= image_tag "contact-img.jpg", alt: ""%>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end contact section -->


<!-- treatment section -->

<section data-scroll-on-click-target="treatment" class="treatment_section layout_padding">
  <div class="side_img">
    <%= image_tag "treatment-side-img.jpg", alt:"" %>
  </div>
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Hospital <span>Treatment</span>
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="box ">
          <div class="img-box">
            <%= image_tag "t1.png", alt:"" %>
          </div>
          <div class="detail-box">
            <h4>
              Nephrologist Care
            </h4>
            <p>
              alteration in some form, by injected humour, or randomised words which don't look even slightly e sure there isn't anything
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="box ">
          <div class="img-box">
            <%= image_tag "t2.png", alt:"" %>
          </div>
          <div class="detail-box">
            <h4>
              Eye Care
            </h4>
            <p>
              alteration in some form, by injected humour, or randomised words which don't look even slightly e sure there isn't anything
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="box ">
          <div class="img-box">
            <% image_tag "t3.png", alt:"" %>
          </div>
          <div class="detail-box">
            <h4>
              Pediatrician Clinic
            </h4>
            <p>
              alteration in some form, by injected humour, or randomised words which don't look even slightly e sure there isn't anything
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="box ">
          <div class="img-box">
            <%= image_tag "t4.png", alt:"" %>
          </div>
          <div class="detail-box">
            <h4>
              Parental Care
            </h4>
            <p>
              alteration in some form, by injected humour, or randomised words which don't look even slightly e sure there isn't anything
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end treatment section -->
