<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight emerald sm:text-4xl">From the blog</h2>
      <p class="mt-2 text-lg leading-8 emerald">Learn how to grow your business with our expert advice.</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: doctors_path, method: :get, class: "flex flex-1 pt-2 relative mx-auto text-gray-600" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control border-2 bg-white h-10 px-3 pr-16 rounded-lg text-sm focus:outline-none",
                placeholder: "Choisissez votre docteur"
          %>
          <%= button_tag( class: "btn btn-clr") do %>
            <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
              viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
              width="512px" height="512px">
              <path
                d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
            </svg>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="py-8 bbh">
      <div class="my-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 pl-0">
          <% @doctors.each do |doctor| %>
            <li class="col-span-1 flex flex-col rounded-lg bg-white box-shadow-clr text-center">
              <div class="flex flex-1 flex-col p-8">
                <%= cl_image_tag doctor.user.photo.key , alt:"", class:"mx-auto h-32 w-32 shrink-0 rounded-full"%>
                <h3 class="mt-7 text-sm font-medium text-gray-900"> Dr <%= doctor.user.lastname %></h3>
                <dl>
                  <dt></dt>
                  <dd class="font-medium text-sm text-gray-500"><%= doctor.speciality %></dd>
                  <dt></dt>
                  <dd class="mt-3"><span class="inline-flex shrink-0 items-center rounded-full bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-opacity-20 ring-green-600">Admin</span></dd>
                </dl>
              </div>
              <div>
                <div class="jf flex acb acg">
                  <div class="flex w-0 flex-1">
                    <a id="icone_email" href="mailto:<%= doctor.user.email %>" class="relative io inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border-clr border-transparent py-3 text-sm font-semibold axu">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="h-5 w-5 text-gray-400">
                        <path d="M3 4a2 2 0 00-2 2v1.161l8.441 4.221a1.25 1.25 0 001.118 0L19 7.162V6a2 2 0 00-2-2H3z"></path>
                        <path d="M19 8.839l-7.77 3.885a2.75 2.75 0 01-2.46 0L1 8.839V14a2 2 0 002 2h14a2 2 0 002-2V8.839z"></path>
                      </svg>
                      Email
                    </a>
                  </div>
                  <div class="ia flex w-0 flex-1">
                    <a id="icone_tel" href="tel:+1-202-555-0143" class="relative inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border-clr border-transparent py-3 text-sm font-semibold axu">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="h-5 w-5 text-gray-400">
                        <path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 013.5 2h1.148a1.5 1.5 0 011.465 1.175l.716 3.223a1.5 1.5 0 01-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 006.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 011.767-1.052l3.223.716A1.5 1.5 0 0118 15.352V16.5a1.5 1.5 0 01-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 012.43 8.326 13.019 13.019 0 012 5V3.5z" clip-rule="evenodd"></path>
                      </svg>
                      Call
                    </a>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  </div>
</div>
