<!DOCTYPE html>
<html>
  <head>
    <title>CliniqueV2</title>
    <%= favicon_link_tag 'logo.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  </head>

  <body>
    <%= render "shared/flashes" %>
    <main class="flex-grow" data-controller="scroll-on-click">
      <%= render "shared/navbar" %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
